<img style= 'border: 10px dotted red;' src='http://f.cl.ly/items/0k0v3e2X3l2f3i1n1Y19/Screen%20Shot%202013-09-10%20at%2011.32.00.png'>

<!-- <p>You can edit the CSS below to experiment with border styles!</p> -->
<!-- <div class=fun-border> sdfghj  </div> -->

<!-- # border: 1px;
# border: 2px dotted;
# border: medium dashed green; -->
