<img style= 'border: 10px dotted red;' src='http://f.cl.ly/items/0k0v3e2X3l2f3i1n1Y19/Screen%20Shot%202013-09-10%20at%2011.32.00.png'>
<h1> My name is Kevin.</h1>

<% if @name.nil? %>
<div align="center">
  <h1>Let's go on a journey.</h1>
</div>
<% else %>
<div align="center">
  <h2>Hello <%= @name %></h2>
</div>
<% end %>

<h1> <%= @worry %> </h1>

<form method="post" action="/named-cat">
  <% if @name==nil %>

  <input type="text" name="name" placeholder="What is your name?">
  <input type="submit" value="Blastoise">

  <% else %>

<br>
  <br>
<div align="right">
  <input type="text" name= "bafflement" placeholder="tell me your fears">
  <input type= "submit" value ="seesaw">
</div>

</form>

<form class="" action="index.html" method="post">

</form>
<% end %>
